.wrapper {
  width: 100vw;
  margin: 0 auto;

  &__header {
    position: relative;
    height: 70px;
  }

  &__main-page {
    position: relative;
    width: 100%
  }

  &__users-list {
    position: relative;
    width: 100%;
  }
}