$text-color: #4b87c8;
$back-color: #b2d4f7;

.main-page {
  width: 100%;

  &__link-container {
    vertical-align: center;
    text-align: center;
    line-height: 75px;

    background-color: $back-color;
  }

  &__link {
    text-decoration: none;

    font-family: Arial, serif;
    font-size: 24px;
    font-weight: 600;
    color: $text-color;
  }

}